extends ../component.pug
append content
    .ui.checkbox
        input(type='checkbox')
        label
append script
    +set_attr('text_if_true', text_if_true)
    +set_attr('text_if_false', text_if_false)
    .
        const store = new Store({
            state: {
                checked: false,
            },
            actions: {
                change(context, payload) {
                    context.commit('change', payload);
                    return true;
                },
            },
            mutations: {
                change(state, payload) {
                    state.checked = payload;
                    return true;
                },
            }
        });

        const label = new Component({store, element: root.querySelector('label')});
        const input = root.querySelector('input');

        label.render = function() {
            if (this.store.state.checked) {
                return `| ${text_if_true}`
            } else {
                return `| ${text_if_false}`
            }
        }
        label.render();
        input.oninput = () => store.dispatch('change', input.checked);