mixin set_attr(key, value)
    !='let ' + key + ' = "' + value + '";'
- ++id
document(id=id)
    block content
    script(type='module')
        | let root = document.getElementById(#{id});
        block script