extends component.pug
append content
    label.ui.header Todo list
    .ui.list
    .ui.input
        input(placeholder='add new item here')
        button.ui.button 
            i.plus.icon
            | new item
    .ui.statistics
append script
    . 
        const store = new Store({state: {items: []}});
        const state = store.state;
        const list = new Component({store, element: root.querySelector('.ui.list')});
        const numbers = new Component({store, element: root.querySelector('.ui.statistics')});

        list.render = function () {
            return state.items.map(
                item=>'.item' +
                      '\n i.icon.outline.square' + (item.checked ? '.check' : '') +
                      '\n div.content ' + item.label +
                      '\n   i.x.icon'
            ).join('\n');
        }
        list.afterRender = function () {
            this.element.querySelectorAll('.item').forEach((node, i)=>{
                let item = state.items[i];
                node.querySelector('.square').onclick = function () {
                    state.items[i].checked = !item.checked;
                    state.items = state.items;
                };
                node.querySelector('.x').onclick = function () {
                    let id = item.id;
                    state.items = state.items.filter(item=>item.id !== id);
                };
            });
        }
        numbers.render = function () {
            let completed = state.items.filter(item=>item.checked).length;
            let total = state.items.length;
            let percentage = Math.floor(0.5 + 100 * completed/total || 0) + '%';
            return    '.statistic' +
                    '\n .label Items completed' +
                    '\n .value ' + completed +
                    '\n.statistic' +
                    '\n .label Total items' +
                    '\n .value ' + total +
                    '\n.statistic' +
                    '\n .label Percentage' +
                    '\n .value ' + percentage
        }
        const input = root.querySelector('input');
        const new_item = root.querySelector('button');

        new_item.onclick = function () {
            state.items.push({id: state.items.length, checked: false, label: input.value});
            state.items = state.items;
            input.value = '';
        }