extends layout
block scripts
    script.
        let h1 = document.querySelector('h1');
        h1.innerHTML += ' World!';
block content 
    h1.ui.header.segment Hello
    .ui.divider
    .ui.segment
        form.ui.form
            .ui.field
                +checkbox_dynamic_label("Checked!", "Not checked!")
            .ui.field
                +scoped_p("Hopefully they will have")
                +scoped_p("different texts")